body {
	color: #333333;
	font-family: arial;
	max-width: 650px;
	margin: 0 auto;
	padding: 0 16px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main-content {
	flex-grow: 1;
}

.info-wrapper {
	padding: 16px 0;
}

input {
	width: 240px;
	height: 32px;
	padding-left: 8px;
	border: 1px solid black;
}

button {
	height: 36px;
	width: 56px;
	margin-left: 16px;
	border: none;
	color: white;
	cursor: pointer;
	background-color: cadetblue;
}

footer {
	color: #888888;
	border-top: 1px solid #eeeeee;
	margin-top: 16px;
	padding: 16px 0;
}

header {
	margin-top: 16px;
	margin-bottom: 48px;
}

h1 {
	font-size: 64px;
	margin-bottom: 16px;
}

header a {
	color: #888888;
	margin-right: 16px;
	text-decoration: none;
}

.portrait {
	width: 250px;
}

img {
	width: 500px;
}
